<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Studentlist</title>
	<link rel="stylesheet" href="../public/css/bootstrap.css">

</head>
<body>
<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>FIRSTNAME</th>
		<th>LASTNAME</th>
		<th>ADDRESS</th>
	</tr>
	<tr>
		<td>1</td>
		<td>ad</td>
		<td>ad</td>
		<td>ad</td>
	</tr>
</table>
<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.js"></script>
</body>
</html>