<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Studentlist</title>
	<link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>
<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>FIRSTNAME</th>
		<th>LASTNAME</th>
		<th>ADDRESS</th>
	</tr>
	<% for(var i=0; i< data.length; i++) {%>
	<tr>
		<td><%= data[i].ID %></td>
		<td><%= data[i].FIRSTNAME %></td>
		<td><%= data[i].LASTNAME %></td>
		<td><%= data[i].ADDRESS %></td>
	</tr>
	<% } %>
</table>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>