<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add student</title>
	<link rel="stylesheet" href="../public/css/bootstrap.css">
</head>
<body>
	<form action="" class="form-inline" style="margin-top: 25px; margin-left: 15px;">
<label for="">S_ID :</label> <input type="number" class="form-control form-inline" id="id" name="id">
<label for="">	FIRSTNAME : </label><input type="text" class="form-control"  id="FIRSTNAME" name="FIRSTNAME">
<label for="">LASTNAME : </label><input type="text" class="form-control" id="LASTNAME" name="LASTNAME">
<label for="">ADDRESS :</label> <input type="text" class="form-control" id="ADDRESS" name="ADDRESS">

<div class="btn btn-success" id="Add">Update</div>

	</form>
	<script src="../public/js/jquery.js"></script>
	<script src="../public/js/bootstrap.js"></script>
</body>
</html>